@media screen and (max-width: 768px) {
  #home {
    display: flex;
    flex-direction: column-reverse; /* Memindahkan gambar ke atas, teks ke bawah */
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .main-header .logo a {
    font-size: 1.5rem;
  }

  .home-text {
    width: 90%;
    padding: 10px;
  }

  .home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-img .img-box {
    width: 200px; /* Ukuran gambar lebih besar */
    height: 200px;
  }

  .home-text h1 {
    font-size: 2rem;
  }

  .typing-text {
    font-size: 5rem;
  }

  .home-text p {
    font-size: 1rem;
  }

  .main-header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Di bawah header */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
  }

  .main-header nav ul li {
    padding: 10px 0;
  }

  #contact {
    height: 110vh;
  }

  .contact {
    flex-direction: column;
    padding: 20px;
  }

  /* Menu muncul ketika burger diklik */
  .nav ul.active {
    display: flex;
  }

  /* Tampilkan burger di layar kecil */
  .burger {
    display: flex;
  }

  .footer-icons .icon {
    animation: bounce 1s ease-in-out infinite;
  }

  .footer-icons .icon:nth-child(1) {
    animation-delay: 0s;
  }

  .footer-icons .icon:nth-child(2) {
    animation-delay: 0.2s;
  }

  .footer-icons .icon:nth-child(3) {
    animation-delay: 0.4s;
  }

  .footer-icons .icon:nth-child(4) {
    animation-delay: 0.6s;
  }
}

@media screen and (max-width: 480px) {
  #home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 10px; /* Mengurangi jarak antara gambar dan teks */
  }

  .home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; /* Mengurangi jarak bawah gambar */
  }

  .home-img .img-box {
    width: 170px;
    height: 170px;
  }

  .home-text {
    width: 90%;
    padding: 10px;
    margin-top: -10px; /* Mengurangi jarak atas teks */
  }

  .home-text h1 {
    font-size: 1.3rem;
  }

  .typing-text {
    font-size: 2.5rem;
  }

  .home-text p {
    font-size: 0.8rem;
  }

  #contact {
    height: 110vh;
  }
}

@media screen and (max-width: 417px) {
  #gallery {
    height: 100vh;
  }
}

@media screen and (max-width: 360px) {
  .home-img .img-box {
    width: 140px;
    height: 140px;
    position: center;
  }

  .home-text {
    padding: 10px;
  }

  .home-text h1 {
    font-size: 1.1rem;
  }

  .typing-text {
    padding: 10px;
  }

  .home-text p {
    font-size: 0.8rem;
  }

  #about {
    height: 130vh;
  }

  #gallery {
    height: 100vh;
  }

  #contact {
    height: 120vh;
  }

  .img-box {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 320px) {
  #home {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .home-img {
    margin-bottom: 10px; /* Mengurangi jarak bawah gambar */
  }

  .home-img .img-box {
    width: 120px;
    height: 120px;
  }

  .home-text {
    padding: 10px;
    margin-top: -10px; /* Mengurangi jarak antara teks dan gambar */
  }

  .home-text h1 {
    font-size: 1rem;
  }

  .home-text p {
    font-size: 0.75rem;
  }

  #about {
    height: 120vh;
  }

  #gallery {
    height: 110vh;
  }

  #contact {
    height: 100vh;
  }
}

/* mengatur ulang layout saat layar besar */
@media screen and (min-width: 769px) {
  #home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 100px;
  }

  .home-text {
    width: auto;
    padding: 0;
    text-align: left;
  }

  .home-img {
    width: auto;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
  }

  .home-img .img-box {
    width: 20vw;
    height: 20vw;
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .typing-text {
    font-size: 10rem;
  }

  .home-text p {
    font-size: 1.2rem;
  }

  .main-header nav ul {
    display: flex !important;
    position: static;
    background: none;
    padding: 0;
  }

  .burger {
    display: none !important;
  }

  .contact {
    flex-direction: row;
    padding: 40px;
  }

  .footer-icons .icon {
    animation: none !important;
  }
}
